* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.slideshow-container {
  position: relative;
  margin-left: 30px;
  margin-top: 5px;
  width: 85%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.header_text {
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}
.info {
  display: flex;
}
.network {
  height: 11px;
  width: 15px;
  margin-top: 20px;
}
.battery {
  height: 15px;
  width: 25px;
  margin-top: 19px;
}
.slideImage {
  height: 167px;
  width: 296px;
  border-radius: 20px;
}

.slide {
  margin-left: 10px;
}
.container {
  margin-top: -10px;
}
.list {
  overflow: auto;
  height: 260px;
}
.itemImage {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-top: -65px;
}
.row__container {
  display: flex;
}
.itemsContaner {
  text-align: center;
  width: 43%;
  line-height: 25px;
  background-color: #f4f4f8;
  border-radius: 20px;
  height: 211px;
  margin-top: 70px;
  margin-left: 16px;
}
h1 {
  margin-left: 40px;
  margin-bottom: 20px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 15px;
  color: #f7c390;
}
.footer {
  margin-top: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  background-color: white;
}
.footer__image {
  height: 25px;
  width: 35px;
  object-fit: contain;
}
